@font-face {
	font-family: Graphik;
	font-weight: Regular;
	src: url('../fonts/Graphik-Regular.otf');
}

@font-face {
	font-family: Graphik;
	font-weight: Light;
	src: url('../fonts/Graphik-Light.otf');
}

body {
	background-color: #f7f6f3;
}

h1 {
	font-family: Graphik;
	font-size: 3.5rem;
	font-weight: Light;
	color: #424584;
	letter-spacing: 0.08rem;
	margin-bottom: 3.8rem;
}

p {
	font-family: Graphik;
	font-size: 1.8rem;
	font-weight: Regular;
	color: #5F5F62;
	letter-spacing: 0.04rem;
	line-height: 3.0rem;
}

a {
	font-family: Graphik;
	font-size: 1.8rem;
	font-weight: Light;
	color: #5F5F62;
	letter-spacing: 0.48rem;
	text-decoration: none;
	border-bottom: 3px solid #49C09C;
	padding-bottom: 0.5rem;
}

a:hover {
	color: #5F5F62;
	border:none;
}

#hero {
	text-align: center;
	position: relative;
  top: 40%;
  transform: translateY(-40%);
}

#logo {
	text-align: center;
	margin-bottom: 2.5rem;
	display: block;
}

#logo img {
	display: block;
}

#logo-top img{
	margin: auto;
	width: 22%;
	margin-bottom: 2px;

}

#logo-bottom img{
	margin: auto;
	width: 25%;
}

#content {
	margin-bottom: 4em;
}

#content h1 {
	display: inline-block;
	margin-right: 1rem;
}

#links a {
	margin-right: 1.25rem;
	margin-left: 1.25rem;
}
